# Project exclude paths
/app/components/app.component.js
/app/components/app.component.js.map
/app/components/breast.component.js
/app/components/breast.component.js.map
/app/components/cardiac.component.js
/app/components/cardiac.component.js.map
/app/components/carousel.component.js
/app/components/carousel.component.js.map
/app/components/imageslider.component.js
/app/components/imageslider.component.js.map
/app/components/login.component.js
/app/components/login.component.js.map
/app/components/question.component.js
/app/components/question.component.js.map
/app/components/speciality.component.js
/app/components/speciality.component.js.map
/app/components/spinner.component.js
/app/components/spinner.component.js.map
/app/components/vis.3d.component.js
/app/components/vis.3d.component.js.map
/app/components/vis.barchart.component.js
/app/components/vis.barchart.component.js.map
/app/components/vis.drawableimage.component.js
/app/components/vis.drawableimage.component.js.map
/app/components/vis.imageviewport.component.js
/app/components/vis.imageviewport.component.js.map
/app/components/vis.sankey.component.js
/app/components/vis.sankey.component.js.map
/app/components/vis.scrollableimage.component.js
/app/components/vis.scrollableimage.component.js.map
/app/components/vis.text.component.js
/app/components/vis.text.component.js.map
/app/directives/imageslider.directive.js
/app/directives/imageslider.directive.js.map
/app/directives/vis.barchart.directive.js
/app/directives/vis.barchart.directive.js.map
/app/directives/vis.drawableimage.directive.js
/app/directives/vis.drawableimage.directive.js.map
/app/directives/vis.imageviewport.directive.js
/app/directives/vis.imageviewport.directive.js.map
/app/directives/vis.sankey.directive.js
/app/directives/vis.sankey.directive.js.map
/app/directives/vis.scrollableimage.directive.js
/app/directives/vis.scrollableimage.directive.js.map
/app/directives/vis.text.directive.js
/app/directives/vis.text.directive.js.map
/app/models/answer-data-model.js
/app/models/answer-data-model.js.map
/app/models/image-2d-visualization-data-model.js
/app/models/image-2d-visualization-data-model.js.map
/app/models/image-3d-visualization-data-model.js
/app/models/image-3d-visualization-data-model.js.map
/app/models/image-analysis-data-model.js
/app/models/image-analysis-data-model.js.map
/app/models/image-scrollable-visualization-data-model.js
/app/models/image-scrollable-visualization-data-model.js.map
/app/models/image-visualization-data-model.js
/app/models/image-visualization-data-model.js.map
/app/models/patient-case-analysis-data-model.js
/app/models/patient-case-analysis-data-model.js.map
/app/models/question-data-model.js
/app/models/question-data-model.js.map
/app/models/sankey-data-model.js
/app/models/sankey-data-model.js.map
/app/models/status-data-model.js
/app/models/status-data-model.js.map
/app/models/text-visualization-data-model.js
/app/models/text-visualization-data-model.js.map
/app/models/top-ranked-diagnosis-data-model.js
/app/models/top-ranked-diagnosis-data-model.js.map
/app/models/user-data-model.js
/app/models/user-data-model.js.map
/app/services/breast.sub.services/breast.sub.answer.service.js
/app/services/breast.sub.services/breast.sub.answer.service.js.map
/app/services/breast.sub.services/breast.sub.image.service.js
/app/services/breast.sub.services/breast.sub.image.service.js.map
/app/services/breast.sub.services/breast.sub.reasoning.service.js
/app/services/breast.sub.services/breast.sub.reasoning.service.js.map
/app/services/breast.sub.services/breast.sub.text.service.js
/app/services/breast.sub.services/breast.sub.text.service.js.map
/app/services/cardiac.sub.services/cardiac.sub.answer.service.js
/app/services/cardiac.sub.services/cardiac.sub.answer.service.js.map
/app/services/cardiac.sub.services/cardiac.sub.image.service.js
/app/services/cardiac.sub.services/cardiac.sub.image.service.js.map
/app/services/cardiac.sub.services/cardiac.sub.reasoning.service.js
/app/services/cardiac.sub.services/cardiac.sub.reasoning.service.js.map
/app/services/cardiac.sub.services/cardiac.sub.text.service.js
/app/services/cardiac.sub.services/cardiac.sub.text.service.js.map
/app/services/breast.service.js
/app/services/breast.service.js.map
/app/services/cardiac.service.js
/app/services/cardiac.service.js.map
/app/services/carousel.service.js
/app/services/carousel.service.js.map
/app/services/config.service.js
/app/services/config.service.js.map
/app/services/login.service.js
/app/services/login.service.js.map
/app/services/question.service.js
/app/services/question.service.js.map
/app/services/render.service.js
/app/services/render.service.js.map
/app/services/spinner.service.js
/app/services/spinner.service.js.map
/app/app.module.js
/app/app.module.js.map
/app/app.routing.js
/app/app.routing.js.map
/app/logged-in.guard.js
/app/logged-in.guard.js.map
/app/main.js
/app/main.js.map